@model Mercadorias.Presentation.Models.RelatorioMensalModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Create";
}

<div class="alert alert-success" id="divSuccess">
    <strong>Sucesso!</strong> <label id="successMsg"></label>
    @* <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>*@
</div>

<div class="alert alert-danger" id="divErro">
    <strong>Erro!</strong>  <label id="errorMsg"></label>
    @*    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>*@
</div>


<form id="friendform">

    <h5>Consulta de saídas</h5>
    <p>Informe o mês e o ano para consultar suas mercadorias.</p>
    <div class="row">
        <div class="col-md-4">
            <label>Mês</label>
            <select class="form-control" required id="mesDropdown" name="mesDropdown"></select>
        </div>
        <div class="col-md-4">
            <label>Ano</label>
            <select class="form-control" required id="anoDropdown" name="anoDropdown"></select>
        </div>

        </div>

        <div class="row">
        <div class="col-md-6">

            <input type="submit" id="btnSubmit" class="btn btn-success" value="Pesquisar" />

        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <table id="exampleDatatable" class="table table-sm table-hover mt-3">
                <thead>
                    <tr>
                        <th>Nome da Mercadoria</th>
                        <th>Número do Registro</th>
                        <th>Quantidade de Entrada no mês</th>
                        <th>Quantidade de Saída no mês</th>
                        <th>Quantidade Restante</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</form>



<!---Datatables-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.2/af-2.5.2/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.2/af-2.5.2/datatables.min.js"></script>
<!--End datatables-->
@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@


<script>

    $(document).ready(function () {

        $("#divErro").hide();
        $("#divSuccess").hide();


        $.ajax({
            type: "GET",
            url: "/Mercadoria/GetMes",
            contentType: "application/json; chatset=utf-8",
            cache: false,
            data: "{}",
            success: function (data) {
                var s = '<option value="">Por favor, selecione um mês.</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].id + '">' + data[i].mes + '</option>';
                }
                $("#mesDropdown").html(s);
            },
            error: function (xhr, status, error) {

                alert(xhr.responseText);
            }
        });

        $.ajax({
            type: "GET",
            url: "/Mercadoria/GetAno",
            contentType: "application/json; chatset=utf-8",
            cache: false,
            data: "{}",
            success: function (data) {
                var s = '<option value="">Por favor, selecione um ano.</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].ano + '">' + data[i].ano + '</option>';
                }
                $("#anoDropdown").html(s);
            },
            error: function (xhr, status, error) {

                alert(xhr.responseText);
            }
        });


        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            $("#divErro").hide();
            $("#divSuccess").hide();

            var RelatorioMensalModel = { Mes: $("#mesDropdown").val(), Ano: $("#anoDropdown").val()}

            var y = JSON.stringify(RelatorioMensalModel);
         
            //ajax aqui
            

            $.ajax({
                url: "/Mercadoria/RelatorioMensal",
               type: "POST",
                contentType: "application/json; chatset=utf-8",
                cache: false,
                data: y,
                success: function (response) {
                    $("#divErro").hide();
                    if (response.errorStr != undefined && response.errorStr != null && response.errorStr != '') {
                        $("#errorMsg").html(response.errorStr);

                        $("#divErro").show();
                    }
                    else {

                        alert(response[0].nomeMercadoria);
                        
                        //datatable aqui
                        var table = $('#exampleDatatable').DataTable();
                        table.destroy();

                        $("#exampleDatatable").DataTable({
                            data: response,
                            retrieve: true,//datatables não dão refresh, então é preciso colocar essa linha pra dizer que é pra usar os dados antigos no click de um botão.
                            destroy: true,
                            columns:
                                [
                                    { 'data': 'nomeMercadoria' },
                                    { 'data': 'numeroRegistro' },
                                    { 'data': 'quantidadeEntrada' },
                                    { 'data': 'quantidadeSaida' },
                                    { 'data': 'quantidadeRestante' }//,                             
                                    //{
                                    //    "mData": null,
                                    //    "bSortable": false//,
                                    //    //"mRender": function (o) {//colunas de botões

                                    //    //}
                                    //},
                                ]
                        });
                    }
                },
                error: function (xhr, status, error) {

                    alert("ERRO!" + xhr.responseText);
                }
            });
        });



    });

</script>

