@model Mercadorias.Presentation.Models.SaidaSearchModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Create";
}

<div class="alert alert-success" id="divSuccess">
    <strong>Sucesso!</strong> <label id="successMsg"></label>
    @* <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>*@
</div>

<div class="alert alert-danger" id="divErro">
    <strong>Erro!</strong>  <label id="errorMsg"></label>
    @*    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>*@
</div>


<form id="friendform">

    <h5>Consulta de saídas</h5>
    <p>Informe o período de datas para consultar suas saídas.</p>
    <div class="row">
        <div class="col-md-3">
            <input type="date" id="txtDataMin" required name="DataMin" class="form-control" />
        </div>
        <div class="col-md-3">
            <input type="date" id="txtDataMax" required name="DataMax" class="form-control" />
        </div>
        <div class="col-md-6">

            <input type="submit" id="btnSubmit" class="btn btn-success" value="Pesquisar" />

        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <table id="exampleDatatable" class="table table-sm table-hover mt-3">
                <thead>
                    <tr>
                        <th>Quantidade de Saída</th>
                        <th>Local</th>
                        <th>Data e Hora</th>
                        <th>Nome da Mercadoria</th>
                        <th>Quantidade Restante</th>
                        <th>Número do Registro</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</form>



<!---Datatables-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.2/af-2.5.2/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.2/af-2.5.2/datatables.min.js"></script>
<!--End datatables-->
@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@


<script>

    $(document).ready(function () {

        $("#divErro").hide();
        $("#divSuccess").hide();


        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            $("#divErro").hide();
            $("#divSuccess").hide();

         
                //   $('#friendform').on('submit', function (e) {


                var SaidaSearchModel = { DataMin: $("#txtDataMin").val(), DataMax: $("#txtDataMax").val() }


                //ajax aqui


                $.ajax({
                    url: "/Saida/SearchSaidaMercadoria",
                    type: "POST",
                    contentType: "application/json; chatset=utf-8",
                    cache: false,
                    data: JSON.stringify(SaidaSearchModel),
                    success: function (response) {
                        $("#divErro").hide();
                        if (response.errorStr != undefined && response.errorStr != null && response.errorStr != '') {
                            $("#errorMsg").html(response.errorStr);

                            $("#divErro").show();
                        }
                        else {
                         


                            //datatable aqui
                            var table = $('#exampleDatatable').DataTable();
                            table.destroy();

                            $("#exampleDatatable").DataTable({
                                data: response,
                                retrieve: true,//datatables não dão refresh, então é preciso colocar essa linha pra dizer que é pra usar os dados antigos no click de um botão.
                                destroy: true,
                                columns:
                                    [
                                        { 'data': 'quantidade' },
                                        { 'data': 'local' },
                                        { 'data': 'datahora' },
                                        { 'data': 'nomeMercadoria' },
                                        { 'data': 'quantidadeRestante' },
                                        { 'data': 'numeroRegistro' },
                                        {
                                            "mData": null,
                                            "bSortable": false,
                                            "mRender": function (o) {

                                            }
                                        },
                                    ]
                            });
                        }



                    },
                    error: function (xhr, status, error) {

                        alert("ERRO!" + xhr.responseText);
                    }
                });



                //  });

            




        });



    });

</script>

